@CHARSET "ISO-8859-1";

li > div {
    background: #4E4E4C;
    height: 20px;
    padding: 5px;
}-
ul.block-grid {
   
   margin-left: -12px
   display: block;
   overflow: hidden;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
    
}
ul.block-grid > li {
   float: left;
   padding: 0 12px 12px;
   display: block;
   height: auto;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul.block-grid.four-up > li {
   width: 25%;
}
ul.block-grid.four-up > li:nth-of-type(4n+1) {
   clear: left;
}